@model Minesweeper.Models.LoginModel

@{
    ViewBag.Title = "Minsweeper - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Success</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-title">
            Welcome! @Html.DisplayTextFor(model => model.Username)
        </div>
    </div>
}
