<div class="menu clear">
    <span class="menu-item">
        @Html.ActionLink("Play!", "", "Game")
    </span>
    <span class="menu-item">
        @Html.ActionLink("Login", "", "Login")
    </span>
    <span class="menu-item">
        @Html.ActionLink("Registration", "", "Registration")
    </span>
</div>