<div class="menu clear">
    @if (Session["login"] != null)
    {
        <span class="menu-item">
            @Html.ActionLink("Play!", "", "Game")
        </span>
    }
    else
    {
        <span class="menu-item">
            @Html.ActionLink("Login", "", "Login")
        </span>
        <span class="menu-item">
            @Html.ActionLink("Registration", "", "Registration")
        </span>
    }
</div>