Application/Minesweeper/.vs
Application/Minesweeper/Minesweeper/bin
Application/Minesweeper/Minesweeper/obj
Application/Minesweeper/MinesweeperClassLibrary/bin
Application/Minesweeper/MinesweeperClassLibrary/obj
Application/Minesweeper/.vs/Minesweeper/v16/.suo
