@model Minesweeper.Services.Game.GameService

@{
    ViewBag.Title = "Minsweeper - Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @DateTime.Now
</p>
<div id="gameBoard">
    @Html.Partial("~/Views/Shared/_GameBoard.cshtml")
</div>
<div class="game-menu">
    @using (Html.BeginForm("ResetGame", "Game"))
    {
        @Html.AntiForgeryToken()
        <button type="submit">
            Reset Board
        </button>
    }
    @using (Html.BeginForm("Index", "Home"))
    {
        @Html.AntiForgeryToken()
        <button type="submit">
            Main Menu
        </button>
    }
</div>