@model Minesweeper.Services.Game.GameService

@{
    ViewBag.Title = "Minsweeper - Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="stopwatch">
    <div id="sw-time">00:00:00</div>
    <div id="turn-counter">0</div>
</div>
<div id="gameBoard">
    @Html.Partial("~/Views/Shared/_GameBoard.cshtml")
</div>
<div class="game-menu">
    @using (Html.BeginForm("ResetGame", "Game"))
    {
        @Html.AntiForgeryToken()
        <button type="submit">
            Reset Board
        </button>
    }
    @using (Html.BeginForm("Index", "Home"))
    {
        @Html.AntiForgeryToken()
        <button type="submit">
            Main Menu
        </button>
    }
</div>


<script src="~/Scripts/stopWatch.js"></script>
<script>
    // Variable to count game turns
    var turns = 0;
    // Variable to track if high score list was updated
    var Updated = false;
</script>